.header-content {
    background-color: #DDF4E7;
}

.siteLogoContainer {
    display: inline-block;
    overflow: hidden;
    object-fit: cover;
}

a.siteLogoContainer > img.siteLogo {
    display: inline-block;
    object-fit: contain;
    width: 75px;
    height: 75px;
}

div.extraInfo{
    border-radius: 100px;
    position: relative;
    top: -46px;
    width: 80%;
}